<!doctype html>
<html lang="en">

<head>
    <title>Mark's Database - Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
    <div>
        <a href="/ledger"><button class="bold">Ledger</button></a>
        <a href="/summary"><button>Summary</button></a>
        <a href="/goals"><button>Goals</button></a>
        <a href="/expected"><button>Expected</button></a>
        <a href="/about"><button>About</button></a>
    </div>
    <div>
        <h1>About</h1>
        <p>Welcome to the alpha budget app! You've been given exclusive access to this secret trial</p>
        <p>Here is how I use this site</p>
        <ol>
            <li>Expenses go in <em>Ledger</em>. Income also goes in the ledger as negative</li>
            <li>The category I use for big categories: bills, groceries, restaurants</li>
            <li>Inside tags (which aren't csv yet) I have specifics: internet, coffee, gas</li>
            <li><em>Summary</em> gives some view of where money is going and coming from</li>
            <li><em>Expected</em> is what I expect in an out, for a period of days. For example, I pay internet every 31 days, and renew my domain every 365 days</li>
            <li><em>Goals</em> can be used to subdivide net savings into categories. It is still W.I.P.</li>
        </ol>
    </div>
</body>

</html>