<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{name}}'s Budget</title>
    <meta charset="UTF-8">
    {{> styles}}
</head>

<body>
    <div class="main">
        <h1>Expected</h1>
        <form method="post" action="/expected">
            <input name="name" placeholder="name" type="text">
            <input name="total" placeholder="total" type="number">
            <input name="days" placeholder="days" type="number">
            <input type="submit" value="Add">
        </form>
        <table>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Total</th>
                <th>Period</th>
            </tr>
            {{#each expecteds}}
            <tr>
                <td class="table-index">{{this.index}}</td>
                <td>{{this.name}}</td>
                <td>{{this.total}}</td>
                <td>{{this.days}}</td>
            </tr>
            {{/each}}
        </table>
        <table>
            <tr>
                <th>Period</th>
                <th>In</th>
                <th>Out</th>
                <th>Net</th>
            </tr>
            <tr>
                <td>Weekly:</td>
                <td>{{week.in}}</td>
                <td>{{week.out}}</td>
                <td>{{week.net}}</td>
            </tr>
            <tr>
                <td>Monthly:</td>
                <td>{{month.in}}</td>
                <td>{{month.out}}</td>
                <td>{{month.net}}</td>
            </tr>
            <tr>
                <td>Yearly:</td>
                <td>{{year.in}}</td>
                <td>{{year.out}}</td>
                <td>{{year.net}}</td>
            </tr>
        </table>
    </div>
    {{>navigation}}
</body>

</html>