<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{name}}'s Budget</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="static/styles.css">
</head>

<body>
    <h1>{{name}}'s Budget</h1>
    <div>
        <a href="/ledger"><button class="bold">Ledger</button></a>
        <a href="/summary"><button>Summary</button></a>
        <a href="/goals"><button>Goals</button></a>
        <a href="/expected"><button>Expected</button></a>
    </div>
    <form method="post" action="/transaction">
        <input id="datePicker" name="when" placeholder="date" type="date"> 
        <input name="where" placeholder="where" type="text"> 
        <input name="amount" placeholder="amount" type="number" step="0.01"> 
        <input name="category" placeholder="category" type="text"> 
        <input name="subcategory" placeholder="tags (csv)" type="text"> 
        <input type="submit" value="Add">
    </form>
    <table>
        <tr>
            <th></th>
            <th>When</th>
            <th>Where</th>
            <th>Amount</th>
            <th>Category</th>
            <th>Tags</th>
        </tr>
        {{#each ledger}}
        <tr>
            <td>{{this.index}}</td>
            <td>{{this.when}}</td>
            <td>{{this.where}}</td>
            <td>{{this.amount}}</td>
            <td>{{this.category}}</td>
            <td>{{this.subcategory}}</td>
        </tr>
        {{/each}}
    </table>
    <script>
        document.getElementById('datePicker').value = new Date().toLocaleDateString();
    </script>
</body>
</html>

