<!doctype html>
<html lang="en">

<head>
    <title>Sign Up</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
    <div>
        <h1>Sign up!</h1>
        {{>message}}
        <form method="post" action="/login/signup">
            <input name="username" type="text" placeholder="Enter Username" required>
            <input type="password" placeholder="Enter Password" name="password" required>
            <input type="text" placeholder="Secret code" name="code" required>
            <input type="submit" vallue="Log in"> 
        </div>
    </div>
    <a href="/login">or login</a>
</body>

</html>