<!doctype html>
<html lang="en">

<head>
    <title>Sign Up</title>
    <meta charset="UTF-8">
    {{> styles}}
</head>

<body>
    <div>
        <h1>Sign up!</h1>
        {{>message}}
        <form method="post" action="/login/signup">
            <input name="username" type="text" placeholder="Enter Username" required>
            <input type="password" placeholder="Enter Password" name="password" required>
            <input type="text" placeholder="Secret code" name="code" required>
            <input type="submit" value="Sign up"> 
        </div>
    </div>
    <a href="/login">or login</a>
</body>

</html>