<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{name}}'s Budget</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="static/styles.css">
</head>

<body>
    <h1>{{name}}'s Budget</h1>
    <div>
        <a href="/ledger"><button>Ledger</button></a>
        <a href="/summary"><button class="bold">Summary</button></a>
        <a href="/goals"><button>Goals</button></a>
        <a href="/expected"><button>Expected</button></a>
    </div>

    <div class="summary-panel">
        <h2>Weekly</h2>
        <table class="table">
            <tr>
                <th>Year</th>
                <th>Week</th>
                <th>In</th>
                <th>Out</th>
                <th>Net</th>
            </tr>
            {{#each week}}
            <tr>
                <td>{{this.y}}</td>
                <td>{{this.w}}</td>
                <td>{{this.in}}</td>
                <td>{{this.out}}</td>
                <td class="{{this.classes}}">{{this.net}}</td>
            </tr>
            {{/each}}
        </table>
    </div>
    <div class="summary-panel">
        <h2>Monthly</h2>
        <table class="table">
            <tr>
                <th>Year</th>
                <th>Month</th>
                <th>In</th>
                <th>Out</th>
                <th>Net</th>
            </tr>
            {{#each month}}
            <tr>
                <td>{{this.y}}</td>
                <td>{{this.m}}</td>
                <td>{{this.in}}</td>
                <td>{{this.out}}</td>
                <td class="{{this.classes}}">{{this.net}}</td>
            </tr>
            {{/each}}
        </table>
    </div>
    <div class="summary-panel">
        <h2>Yearly</h2>
        <table class="table">
            <tr>
                <th>Year</th>
                <th>In</th>
                <th>Out</th>
                <th>Net</th>
            </tr>
            {{#each year}}
            <tr>
                <td>{{this.y}}</td>
                <td>{{this.in}}</td>
                <td>{{this.out}}</td>
                <td class="{{this.classes}}">{{this.net}}</td>
            </tr>
            {{/each}}
        </table>
    </div>
</body>

</html>