<!doctype html>
<html lang="en">

<head>
    <title>Budget</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/favicon.ico">
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
    <div id="data">
        <h1 v-if="summary.username">{{summary.username}}'s budget</h1>
        <div>
            <button v-bind:class="{ bold: activeTab == 'ledger' }" v-on:click="setTab('ledger')">Ledger</button>
            <button v-bind:class="{ bold: activeTab == 'summary' }" v-on:click="setTab('summary')">Summary</button>
            <button v-bind:class="{ bold: activeTab == 'goals' }" v-on:click="setTab('goals')">Goals</button>
            <button v-bind:class="{ bold: activeTab == 'expected' }" v-on:click="setTab('expected')">Expected</button>
        </div>

        <!-- Ledger -->
        <div v-if="activeTab == 'ledger'">
            <div class="newItem">
                <input v-model="m.when" placeholder="Date" type="date">
                <input v-model="m.where" placeholder="Where">
                <input v-model="m.amount" placeholder="Amount" type="number" step="0.01">
                <input v-model="m.category" placeholder="Category">
                <input v-model="m.subcategory" placeholder="Subcategory">
                <button v-on:click="post(m, '/transaction', 'transactions')">Add</button>
            </div>
            <table class="table">
                <tr class="table-header">
                    <th class="table-index"></th>
                    <th>Date</th>
                    <th>Where</th>
                    <th>Amount</th>
                    <th>Category</th>
                    <th>Subcategory</th>
                    <th></th>
                </tr>
                <tr v-for="(transaction, i) in transactions">
                    <td class="table-index">{{i+1}}</td>
                    <td>{{transaction.when.substring(0,10)}}</td>
                    <td>{{transaction.where}}</td>
                    <td>{{transaction.amount}}</td>
                    <td>{{transaction.category}}</td>
                    <td>{{transaction.subcategory}}</td>
                    <td>
                        <button v-on:click="prepareEntryEdit(transaction)">&#9881;</button>
                        <button v-on:click="remove(transaction, 'transactions')">X</button>
                    </td>
                </tr>

            </table>
        </div>

        <table v-if="activeTab == 'ledger-edit'">
            <tr>
                <th></th>
                <th>Date</th>
                <th>Where</th>
                <th>Amount</th>
                <th>Category</th>
                <th>Subcategory</th>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input v-model="em.when" placeholder="Date" type="date">
                </td>
                <td>
                    <input v-model="em.where" placeholder="Where">
                </td>
                <td>
                    <input v-model="em.amount" placeholder="Amount" type="number" step="0.01">
                </td>
                <td>
                    <input v-model="em.category" placeholder="Category">
                </td>
                <td>
                    <input v-model="em.subcategory" placeholder="Subcategory">
                </td>
                <td><button v-on:click="updateMany(em, 'transactions');activeTab=0;">Update</button></td>
            </tr>
        </table>

        <!-- Summary -->
        <div v-if="activeTab == 'summary'">
            <div class="summary-panel">
                <h2>Weekly</h2>
                <table class="table">
                    <tr>
                        <th>Year</th>
                        <th>Week</th>
                        <th>In</th>
                        <th>Out</th>
                        <th>Net</th>
                    </tr>
                    <tr v-for="(data, i) in summary.week">
                        <td>{{data.y}}</td>
                        <td>{{data.w}}</td>
                        <td>{{data.in}}</td>
                        <td>{{data.out}}</td>
                        <td v-bind:class="{'net-negative': data.negative, 'net-positive':data.positive}">{{data.net}}
                        </td>
                    </tr>
                </table>
            </div>
            <div class="summary-panel">
                <h2>Monthly</h2>
                <table class="table">
                    <tr>
                        <th>Year</th>
                        <th>Month</th>
                        <th>In</th>
                        <th>Out</th>
                        <th>Net</th>
                    </tr>
                    <tr v-for="(data, i) in summary.month">
                        <td>{{data.y}}</td>
                        <td>{{data.m}}</td>
                        <td>{{data.in}}</td>
                        <td>{{data.out}}</td>
                        <td v-bind:class="{'net-negative': data.negative, 'net-positive':data.positive}">{{data.net}}
                        </td v-bind:class="{'net-negative': data.negative, 'net-positive':data.positive}">
                    </tr>
                </table>
            </div>
            <div class="summary-panel">
                <h2>Yearly</h2>
                <table class="table">
                    <tr>
                        <th>Year</th>
                        <th>In</th>
                        <th>Out</th>
                        <th>Net</th>
                    </tr>
                    <tr v-for="(data, i) in summary.year">
                        <td>{{data.y}}</td>
                        <td>{{data.in}}</td>
                        <td>{{data.out}}</td>
                        <td v-bind:class="{'net-negative': data.negative, 'net-positive':data.positive}">{{data.net}}
                        </td v-bind:class="{'net-negative': data.negative, 'net-positive':data.positive}">
                    </tr>
                </table>
            </div>
        </div>

        <!-- Goals -->
        <div v-if="activeTab == 'goals'">
            <div>
                <div class="newItem">
                    <span>New Goal</span>
                    <input v-model="ng.name" placeholder="Name">
                    <input v-model="ng.total" placeholder="Total" type="number" step="0.01">
                    <button v-on:click="post(ng, '/goals', 'goals')">Add</button>
                </div>
                <div class="newAllocation">
                    <span>Allocate funds</span>
                    <select v-model="na.name">
                        <option v-for="option in goals" v-bind:value="option.name">
                            {{ option.name }}
                        </option>
                        <input v-model="na.amount" type="number">
                        <span>out of {{total_to_allocate}}</span>
                    </select>
                    <button v-on:click="post(na, '/allocate', 'goals')">Add</button>
                </div>
                <table>
                    <tr><th></th><th>Name</th><th>Amount</th><th>Total</th><th>Remaining</th></tr>
                    <tr v-for="(goal, i) in goals">
                        <td class="table-index">{{i+1}}</td>
                        <td>{{goal.name}}</td>
                        <td>{{goal.amount}}</td>
                        <td>{{goal.total}}</td>
                        <td>{{goal.total - goal.amount}}</td>
                    </tr>
                </table>
            </div>
        </div>

        <!-- Expected -->
        <div v-if="activeTab == 'expected'">
            <div>
                <div class="newItem">
                    <span>New Expected</span>
                    <input v-model="e.name" placeholder="Name">
                    <input v-model="e.total" placeholder="Total" type="number" step="0.01">
                    <input v-model="e.days" placeholder="Period (days)" type="number" step="1">
                    <button v-on:click="post(e, '/expected', 'expected')">Add</button>
                </div>
                <table>
                    <tr><th></th><th>Name</th><th>Total</th><th>Period</th></tr>
                    <tr v-for="(e, i) in expected">
                        <td class="table-index">{{i+1}}</td>
                        <td>{{e.name}}</td>
                        <td>{{e.total}}</td>
                        <td>{{e.days}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>

</html>